{{ $current := .CurrentPlaylist }}
<input type="hidden" name="on" value="{{ .Playing }}">
<div class="form-group">
	<a class="btn btn-primary js-module-on" href="#" role="button" title="Predvajaj">
		<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
	</a>
	<a class="btn btn-primary js-module-off" href="#" role="button" title="Stop">
		<span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
	</a>
	<a class="btn btn-default js-button js-module-show-on" href="#" role="button" title="Naslednja pesem" data-path="next">
		<span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
	</a>
</div>
<div class="form-group js-module-show-on">
	<label>Pesem:</label>
	<p class="help-block js-musicplayer-song"></p>
</div>
<div class="form-group">
	<label for="playlistSelect">Seznam predvajanja:</label>
	<select class="form-control js-select" name="playlist">
		{{ range $index, $playlist := .Playlists }}
			<option value="{{ $index }}"{{ if eq $index $current }} selected{{ end }}>{{ $playlist }}</option>
		{{ end }}
	</select>
</div>
